<h2>Artists</h2>


<p>
  <form method="get" action="/artist/add">
    <input type="submit"  value="Add Artist">
  </form>
</p>
<hr>

<%  for artist in @artists %>
  <p>Name: <%= artist.first_name %> <%= artist.last_name %></p>
  <form method="post" action="/artist/<%= artist.id %>/delete">
    <input type="submit"  value="Delete Artist">
  </form>
  <hr>
<% end %>

<p>
  <form method="get" action="/artist/add">
    <input type="submit"  value="Add Artist">
  </form>
</p>
<hr>


<h2>Artworks</h2>

<%  for artwork in @artworks %>
  <p>Title: <%= artwork.title %></p>
  <p>Details: <%= artwork.details %> </p>
  <p>Date Created: <%= artwork.date_created %> </p>
  <% for artist in @artists %>
    <% if artist.id == artwork.artist_id %>
      <p>Artist: <%= artist.first_name %> <%= artist.last_name %></p>
      <form method="post" action="/artwork/<%= artwork.id %>/delete">
        <input type="submit"  value="Delete Artwork">
      </form>
    <% end %>
  <% end %>
  <hr>
<% end %>
