<div class="content-flex">
  <div class="sub-title-flex">
    <label>Artists</label>
  </div>

  <div class="cards">
    <%  for artist in @artists %>

    <article class="card-artist">
      <div class="card-title">
        <label><%= artist.first_name %> <%= artist.last_name%></label>
      </div>

      <img src="../images/artists/<%= artist.first_name.downcase %>-<%= artist.last_name.downcase %>.png" alt="where">

      <form method="post" action="/artist/<%= artist.id %>/delete">
        <input type="submit"  value="Delete Artist">
      </form>

    </article>
    <% end %>
  </div>

  <div class="large-button-flex">
    <a href="/artist/add">Add Artist</a>
  </div>


  <div class="sub-title-flex">
    <label>Artworks</label>
  </div>

  <div class="cards">

    <%  for artwork in @artworks %>
    <article class="card-artwork">
      <div class="card-title">
        <label><%= artwork.title %></label>
      </div>

      <div class="admin-art">
        <img src="../images/artworks/thumb<%= artwork.id %>.png" alt="where">
      </div>

      <label>Reference #: <%= artwork.id %></label>

      <label><%= artwork.details %> </label>
      <label>Date created: <%= artwork.date_created %> </label>
      <% for artist in @artists %>
        <% if artist.id == artwork.artist_id %>
          <label>Artist: <%= artist.first_name %> <%= artist.last_name %></label>
          <% end %>
      <% end %>
      <% for category in @categories %>
        <% if artwork.category_id == category.id %>
          <label>Category: <%= category.type.capitalize %></label>
          <% end %>
      <% end %>

        <form method="post" action="/artwork/<%= artwork.id %>/delete">
          <input type="submit"  value="Delete Artwork">
        </form>
        <form method="get" action="/artwork/<%=artwork.id%>/edit">
          <input type="submit"  value="Edit Artwork">
        </form>


    </article>
    <% end %>
  </div>

  <div class="large-button-flex">
    <a href="/artwork/add">Add Artwork</a>
  </div>

</div>
